* {
    background-color: #323544;
    color: white;
}

.Box__message {
    display: flex;
    flex-direction: column-reverse;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.send_top {
    display: flex;
}

.send_bottom {
    display: flex;
}